# The following redirect is intended for use with most SPAs that handle
# routing internally.
[[redirects]]
  from = "/*"
  to = "https://subterra-test.b-cdn.net/GS010160.mp4"
  status = 200
  force = true
  headers = {Access-Control-Allow-Origin = "*"}

