@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.max-height{
  min-height: 100vh;
}

.card-container{
  max-width: calc(90% - 20px);
  width: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card{
  overflow:hidden;
  max-width: 30%;
  width: 100%;
}

.footer{
  position: absolute;
  width: 100%;
  max-width: calc(100% - 60px);
  bottom: 0;
  background: darkred;
  padding: 10px;
}